@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-size: 0.9375rem; /* 15px */
  background: #eef6f6;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  height: 156px;
}

main {
  margin: 0 auto;
  max-width: 73rem;
}

.btn {
  @apply font-bold text-cyan-dark text-sm py-2 px-2 bg-cyan-lightGrayish rounded md:hover:bg-cyan-dark md:hover:text-cyan-lightGrayish transition duration-500 ease-in-out;
}

.btn__filtered {
  @apply flex items-center gap-2 text-sm font-bold text-cyan-dark pl-2 bg-cyan-lightGrayish rounded-l;
}

.btn__clear {
  @apply font-bold text-cyan-darkGrayish text-sm md:hover:underline;
}

.positioning {
  @apply w-14 h-auto absolute object-cover;
  top: -60%;
  left: 0;
  transform: translateY(40%);
}

.dots {
  @apply relative;
}

.dots::before,
.dots::after {
  content: '';
  position: absolute;
  background-color: #7b8e8e;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.dots::before {
  left: -25%;
  top: 25%;
}

.dots::after {
  right: -25%;
  top: 25%;
}

.box-positioning {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 995px) {
  .positioning {
    @apply w-28 h-full static;
    top: auto;
    left: auto;
    transform: none;
  }
}
